@charset "utf-8";
header{
			width: 1920px;
			height: 100px;
			position: fixed;
			left: 0;
			top: 0;
			background: black;
			z-index: 2;
		}
#left{
	width: 960px;
	height: inherit;
	float: left;
}
#left > img{
	width: 360px;
	height: 80px;
	margin-left: 50px;
	margin-top: 10px;
}
#right{
	width: 960px;
	height: inherit;
	float: left;
}
#he_wrap{
	width: 330px;
	height: inherit;
	float: right;
	margin-right: 50px;
}
#right > #he_wrap >button{
	border: 2px solid #8C8C8C;
	background: rgba(0,0,0,0);
	color: #8C8C8C;
	width: 160px;
	height: 65px;
	line-height: 65px;
	margin-top: 15px;
	cursor: pointer;
}
#right >#he_wrap >button:hover{
	color: white;
	border: 2px solid white;
}
#main{
	width: inherit;
	height: 1000px;
	position: relative;
}
#main img{
			/*margin-top: 100px;*/
			width: inherit;
			height: 1000px;
			position: absolute;
			z-index: 1;
}
#scroll{
			width: 100px;
			height: 100px;
			z-index: 100;
			/*background-color: red;*/
			position: absolute;
			left: 48.5%;
			top: 78%;
		}
		#arrow:after{
				content: "";
	display: block;
	width: 40px;
	height: 40px;
	border-top: 7px solid #333;
	border-right: 7px solid #333;
	border-color: white;
/*	-webkit-transform:rotate(225deg);*/
	transform: rotate(134deg);
	position: absolute;
	left: 5%;
	top: 45%;
	animation: horizontal 0.7s ease-in-out infinite;
		}
		@keyframes horizontal{
	0%{margin-top: 9px;}
	50%{margin-top: 15px;}
	100%{margin-top: 9px;}
}
.section1{
	position: relative;
}
.left_info{
	width: 400px;
	height: 400px;
	position: absolute;
	z-index: 2;
	top: 25%;
	left: 10%;
}
.right_info{
	width: 400px;
	position: absolute;
	height: 400px;
	z-index: 2;
	top: 25%;
	left: 70%;
}
.left_info > h1,.right_info > h1{

	color: white;
	font-size: 1.5em;
}
.left_info > p,.right_info > p{
	color: white;
	font-size: 1.2em;
}
#hover{
	width: 30%;
	height: 300px;
	background: rgba(0,0,0,0);
	position: absolute;
	z-index: 2;
	left: 35%;
	top: 300px;
}
#hover > button{
	width: 40%;
	height: 75px;
	background: black;
	color: white;
	cursor: pointer;
	border: none;
	border: 2.5px solid white;
	position: absolute;
	left: 30%;
	top: 125px;
	font-size: 18px;
}